:root {
  --charcoal: #36454f;
  --black: #101314;
  --white: #fff;
  --lightgray: #d3d3d3;
}

::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background-color: var(--charcoal);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, sans-serif;
  -webkit-text-fill-color: var(--black);
  color: var(--black);
  text-decoration: none;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  min-height: 100dvh;
  padding: 2rem;
  background-color: var(--black);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }

  body {
    padding: 1rem;
  }
}
