/* ----- SEARCH STYLING ----- */
.search-wrapper {
  align-self: flex-end;
}

.search-wrapper * {
  font-size: 2rem;
  -webkit-text-fill-color: var(--white);
  color: var(--white);
}

/* ----- SONGS STYLING ----- */
.songs-container {
  display: flex;
  column-gap: 1.2rem;
  width: 100%;
  padding: 1.2rem;
  box-shadow: 0 0 0.7rem 0.7rem rgba(255, 255, 255, 0.5);
  overflow: auto;
  scroll-behavior: smooth;
}

.song-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 14rem;
  height: 20rem;
  padding: 0.7rem;
  box-shadow: inset 0 0 0.7rem 0.3rem rgba(255, 255, 255, 0.5);
  transition: border-radius 0.2s;
  overflow: hidden;
  cursor: pointer;
}

.song-wrapper.selected {
  border-radius: 1.2rem;
}

.song-name {
  display: -webkit-box;
  font-size: 1.5rem;
  font-weight: 600;
  color: transparent;
  text-align: center;
  text-shadow: 0 0 5px var(--black);
  -webkit-text-stroke: 1px var(--white);
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.song-author {
  position: absolute;
  left: 0.7rem;
  bottom: 0.7rem;
  max-width: calc(100% - 1.4rem);
  padding-inline: 0.3rem;
  background-color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .song-wrapper {
    width: 10rem;
    height: 14rem;
  }
}
