.main-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  row-gap: 1.4rem;
  width: 40rem;
  margin-block: 2rem;
  padding: 2rem;
  border-radius: 1.2rem;
  background-color: var(--white);
}

.home-wrapper {
  align-self: flex-start;
}

.home-wrapper * {
  font-size: 1.5rem;
}

/* ----- SEARCH AND FILTER STYLING ----- */
.search-form {
  display: flex;
  justify-content: center;
  column-gap: 1.2rem;
}

.search-input-wrapper {
  position: relative;
  width: 50%;
}

.search-input {
  width: 100%;
  padding: 0.3rem 2.4rem 0.3rem 0.7rem;
  border: none;
  border-bottom: 2px solid var(--black);
  outline: none;
  background-color: transparent;
  font-size: 1rem;
}

.search-input::placeholder {
  -webkit-text-fill-color: var(--black);
  color: var(--black);
}

.search-wrapper {
  position: absolute;
  top: 0;
  right: 0.7rem;
  bottom: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-wrapper * {
  font-size: 1rem;
}

.genre-select {
  padding-inline: 0.7rem;
  border: none;
  border-bottom: 2px solid var(--black);
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
}

.genre * {
  text-transform: capitalize;
}

/* ----- SONGS STYLING ----- */
.songs-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
}

.song-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.7rem;
  padding-inline: 0.3rem;
  background-color: var(--charcoal);
  overflow: hidden;
}

.song-wrapper.selected .song-img {
  border-radius: 100rem;
}

.song-img-info {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.7rem;
  height: 3rem;
  overflow: hidden;
}

.song-img {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: cover;
}

.song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.song-name {
  font-size: 1rem;
  font-weight: 600;
  -webkit-text-fill-color: var(--white);
  color: var(--white);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.song-author {
  font-size: 0.9rem;
  -webkit-text-fill-color: var(--white);
  color: var(--white);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.song-play-add {
  display: flex;
  column-gap: 1.2rem;
  margin-right: 1.2rem;
}

.song-play-wrapper *,
.song-add-wrapper * {
  font-size: 1.2rem;
  -webkit-text-fill-color: var(--white);
  color: var(--white);
  cursor: pointer;
}

/* ----- PLAYER STYLING ----- */
.player {
  background-color: var(--lightgray);
}

/* ----- PAGINATION STYLING ----- */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.7rem;
}

.prev-page,
.current-page,
.next-page {
  padding: 0.4rem 1.2rem;
  border-radius: 0.7rem;
  background-color: var(--lightgray);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.current-page {
  cursor: default;
}

@media screen and (max-width: 768px) {
  .main-container {
    row-gap: 1rem;
    width: 470px;
    margin-block: 1.2rem;
    padding: 2rem 1.2rem;
  }

  .songs-container {
    row-gap: 0.3rem;
  }
}

@media screen and (max-width: 480px) {
  .main-container {
    width: 310px;
  }
}
